ECAC_URL=https://cav.receita.fazenda.gov.br/
CHROME_USER_DATA_DIR=/Users/seuusuario/Library/Application\ Support/Google/Chrome/Profile\ MEI
AUTO_SELECT_CERT_JSON=[{"pattern":"https://cav.receita.fazenda.gov.br"}]
PAGELOAD_TIMEOUT=120
